<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
{% include "./components/header.njk" %}
<section id="base__page">
    {% include "./components/navigation.njk" %}
    <div class="body">
        <div class="title">Личные данные</div>
        <div class="wrapper">
            <div class="wrapper__first">
                <div class="image">
                    <img src="../img/avatarka.png">
                </div>
                <div class="button">
                    <button class="btn grey change">Изменить фото</button>
                </div>
                <div class="button">
                    <button class="btn grey make">Сделать фото</button>
                </div>

            </div>
            <div class="wrapper__second">
                <div class="form">
                    <div class="list">Имя</div>
                    <input type="text" placeholder="Иван" class="input">
                </div>
                <div class="form">
                    <div class="list">Фамилия</div>
                    <input type="text" placeholder="Иванов" class="input">
                </div>
                <div class="form">
                    <div class="list">Никнейм</div>
                    <input type="text" placeholder="Placeholder" class="input">
                </div>
                <div class="form">
                    <div class="list">День рождения</div>
                    <select class="select day">
                        <option>01</option>
                        <option>02</option>
                        <option>03</option>
                        <option>04</option>
                    </select>
                    <select class="select month">
                        <option>Января</option>
                        <option>Февраля</option>
                        <option>Апреля</option>
                        <option>Марта</option>
                    </select>
                    <select class="select year">
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                    </select>
                </div>


                <div class="form">
                    <div class="list">Город</div>
                    <input type="text" placeholder="Москва" class="input">
                </div>
                <div class="form">
                    <div class="list">Часовой пояс</div>
                    <select class="select belt">
                        <option>(GMT +03:00) Москва, Санкт-Петербург</option>
                        <option>(GMT +03:00) Москва, Санкт-Петербург</option>
                        <option>(GMT +03:00) Москва, Санкт-Петербург</option>
                        <option>(GMT +03:00) Москва, Санкт-Петербург</option>
                    </select>
                </div>


                <div class="buttons">
                    <button class="btn blue save">Сохранить</button>
                    <button class="btn grey cancel">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>