<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
{% include "./components/header.njk" %}
<section id="page">
    {% include "./components/navigation.njk" %}

</section>
</body>
</html>