<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
{% include "./components/header.njk" %}
<section id="main__page">
    {% include "./components/navigation.njk" %}
    <div class="body">
        <div class="title">
            Доброе утро, Тасен!
        </div>
        <div class="wrapper">
            <div class="item">
                <div class="item__title">Настройки аккаунта</div>
                <div class="text name">Имя и фамилия</div>
                <div class="list email">daniyal.yelaman@gmail.com</div>
                <div class="text date">Дата рождения</div>
                <div class="list number border">26.07.2002</div>
                <div class="settings">
                    <a href="#">Настройки личных данных</a>
                    <img src="../img/vectorpng.png">
                </div>
            </div>
            <div class="item">
                <div class="item__title">Пароль и безопасность</div>
                <div class="text password">Пароль</div>
                <div class="list changed">Изменен 26.08.2019 </div>
                <div class="text autentification">Двухфакторная аутентификация</div>
                <div class="list connect border">
                    <a href="#">
                        Подлючить
                    </a>
                </div>
                <div class="settings">
                    <a href="#">Настройки личных данных</a>
                    <img src="../img/vectorpng.png">
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="item">
                <div class="item__title">Контакты и адреса</div>
                <div class="text telephone">Номер телефона</div>
                <div class="list phone">+7 778 438 32 10</div>
                <div class="text address">Домашний адрес</div>
                <div class="list address__text border">Нур-Султан, Мухамедханова 7</div>
                <div class="settings">
                    <a href="#">Настройки личных данных</a>
                    <img src="../img/vectorpng.png">
                </div>
            </div>
            <div class="item">
                <div class="item__title">Пройдите проверку <br> безопасности</div>
                <div class="list border__last">
                    Это поможет проверить <br> подключенные способы доступа к <br> вашему вашему
                </div>
                <div class="image">
                    <img src="../img/security.png">
                </div>
                <div class="settings">
                    <a href="#">Настройки личных данных</a>
                    <img src="../img/vectorpng.png">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>