<header>
    <div class="wrapper">
        <div class="item__wrapper">
            <div class="item">
                <a href="#" class="item__text">
                    Mail.ru
                </a>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Почта
                </a>
                <div class="item__number">
                    12
                </div>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Одноклассники
                </a>
                <div class="item__number">
                    12
                </div>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Игры
                </a>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Знакомства
                </a>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Новости
                </a>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Поиск
                </a>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Смотри
                </a>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Combo
                </a>
            </div>
            <div class="item">
                <a href="#" class="item__text">
                    Все проекты
                </a>
                <a href="#" class="item__image">
                    <img src="../img/arrow.png">
                </a>
            </div>
        </div>
        <div class="account__wrapper">
            <div class="account">
                <div class="discoball">
                    <a href="#">
                        <img src="../img/discoball.png">
                    </a>
                </div>
                <div class="avatar">
                    <a href="#">
                        <img src="../img/avatar.png">
                    </a>
                </div>
                <div class="name">
                    Валерий Сироткин
                </div>
                <div class="arrow">
                    <img src="../img/arrow.png">
                </div>
            </div>
        </div>
    </div>
    <div class="logo__image">
        <img src="../img/logo.png">
    </div>
</header>