<div class="navigation">
    <div class="item">
        <a href="main.html">Главная</a>
    </div>
    <div class="item">
        <a href="#">Общие</a>
    </div>
    <div class="item">
        <a href="#">Правила фильтрации</a>
    </div>
    <div class="item">
        <a href="#">Папки</a>
    </div>
    <div class="item">
        <a href="index.html">Управление рассылками</a>
    </div>
    <div class="item">
        <a href="#">Почта из других ящиков</a>
    </div>
    <div class="item border">
        <a href="#">Анонимайзер</a>
    </div>
    <div class="item">
        <a href="account.html">Аккаунт</a>
    </div>
    <div class="help">
        <a href="#">Служба поддержки</a>
    </div>
</div>