<div class="navigation">
    <div class="item">
        <a href="#">Главная</a>
    </div>
    <div class="item">
        <a href="#">Общие</a>
    </div>
    <div class="item">
        <a href="#">Правила фильтрации</a>
    </div>
    <div class="item">
        <a href="#">Папки</a>
    </div>
    <div class="item">
        <a href="#">Управление рассылками</a>
    </div>
    <div class="item">
        <a href="#">Почта из других ящиков</a>
    </div>
    <div class="item border">
        <a href="#">Анонимайзер</a>
    </div>
    <div class="item">
        <a href="#">Аккаунт</a>
    </div>
    <div class="help">
        <a href="#">Служба поддержки</a>
    </div>
</div>